@font-face {
    font-family: 'Time';
    src: url('fonts/Time.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@property --gradient-angle{
    syntax: "<angle>";
    initial-value:0deg;
    inherits:false;
}

@keyframes rotation{
    0% { --gradient-angle: 0deg;}
    100% { --gradient-angle:360deg;}
}

:root{
    --clr-1: #020526;
    --clr-2: #0D0632;
    --clr-3: #321647;
    --clr-4: #7D0F40;
    --clr-5: #B11C32;
    --clr-6: #FF9A56;
}

body {
    background-color:black;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    margin:0;
    
}

button{
    background-color:black;
    color:white;
    border:1px solid #333;
    padding:20px;
}
button:hover{
    background-color:#1a0f1f;
    cursor:pointer;
}

button:active{
    background-color: #2a1040;
    transform: scale(0.98); 
}

#calcFrame{
    width: 400px;
    display:flex;
    flex-direction:column;
    border:2px solid #333;
    padding:20px;
    border-radius: 10px;
    position:relative;
    background:black;

}
#calcFrame::before,
#calcFrame::after{
    content:"";
    position:absolute;
    inset:-.5rem;
    border-radius:inherit;
    z-index:-1;
    background: conic-gradient(
        from var(--gradient-angle),
        var(--clr-1),
        var(--clr-2),
        var(--clr-3),
        var(--clr-4),
        var(--clr-5),
        var(--clr-6),
        var(--clr-5),
        var(--clr-4),
        var(--clr-3),
        var(--clr-2),
        var(--clr-1)
    );
    animation: rotation 10s linear infinite;
}

#calcFrame::after{
    filter:blur(3.5rem);
}
#calcResult{
    text-align: right;
    background-color: #111;
    border: 2px solid #333;
    padding:10px;
    border-radius: 5px;
    margin-bottom: 20px;

}

#operationSelected{
    display:flex;
    flex-direction:row;
    gap:10px;
    justify-content:right;
}

.operand{
    color:#333;
    transition:color 0.2s;
}

.operand.active{
    color:#ff9a56;
}

#result{
    font-family:'Time', sans-serif;
    font-size: 30px;
}

#calculator{
    background-color: black;
}

.calc-row{
    display:flex;
    gap:10px;
    margin-bottom: 10px;
}

.calc-btn{
    flex:1;
    text-align:center;
    padding:20px;
    border:1px solid #333;
    border-radius:5px;

}

.big-btn{
    flex:3;
}
